[NeuCore Authentication]
AppID = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_NEUCORE_APP_ID - (REQUIRED)
AppSecret = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_NEUCORE_APP_SECRET - (REQUIRED)
AppURL = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_NEUCORE_APP_URL - (REQUIRED)
;Please include a trailing / in the URL; for example https://neucore.com/
LoginName = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_NEUCORE_LOGIN_NAME - (REQUIRED)

[App]
TargetAlliances = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_TARGET_ALLIANCES - (REQUIRED)
;Target Alliances is a set of comma-separated alliance IDs in integer form. No comma is required for only one id.
TargetCorps = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_TARGET_CORPS - (REQUIRED)
;Target Corps is a set of comma-separated corporation IDs in integer form. No comma is required for only one id.
TargetExclusions = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_TARGET_EXCLUSIONS - (REQUIRED)
;Target Exclusions is a set of comma-separated corporation IDs in integer form. No comma is required for only one id.
TargetRegions = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_TARGET_REGIONS - (REQUIRED)
;Target Regions is a set of comma-separated region IDs in integer form. No comma is required for only one id.
TargetTypes = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_TARGET_TYPES - (REQUIRED FOR REPORTS)
;Target Types is a set of comma-separated Type Names. No comma is required for only one name.
ReportTitle = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_REPORT_TITLE - (REQUIRED FOR REPORTS)
;The header for the report
WebhookPlatform = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_WEBHOOK_PLATFORM - (REQUIRED FOR REPORTS)
;Slack or Discord
WebhookURL = 
;When Using Environment Variables: ENV_CONTRACT_MONITORING_WEBHOOK_URL - (REQUIRED FOR REPORTS)
